<% if flash[:notice] %>
		<div class="flash notice">
		<%= flash[:notice] %>
		</div>
	<% end %>

<div id="contact_main">
	<div id="form2">
		<form method="POST" action="/send_email">
		<label for="from">FROM:</label>
		<input type="text" name="from" class="inputs" placeholder="Enter Your Email"></br></br></br>
		<label for="comment">COMMENT</label></br>
		<textarea name="comment" rows="12" cols="50" class="inputs"></textarea></br></br>
		<div id="contact_submit">
		<input type="submit" class="submitBtn">
		</div>
		</form>
	</div>
	
</div>