<% if flash[:notice] %>
		<div class="flash notice">
		<%= flash[:notice] %>
		</div>
	<% end %>

<div id="edit_wrapper">
	<form method="POST" action="/create_profile">
		<label for="fname">First Name</label>
			<input type="text" name="fname" class="edit_inputs">
		<label for="lname">Last Name</label>
			<input type="text" name="lname" class="edit_inputs">
		<label for="upload_photo"></label>
		<label for="age"></label>
			<input type="text" name="age" class="edit_inputs">
		<label for="gender">Gender</label>
			<input type="radio" name="gender" value="Male">
			<input type="radio" name="gender" value="Female">
		<label for="resident">Are you a resident of NYC?</label>
			<input type="radio" name="resident" value="Yes">
			<input type="radio" name="resident" value="No">
		
	</form>

</div>