<div id="header">

</div>

<div id="leftnav">
        <ul>
        	<li class="navlink">
                <a href="/home">
                <div>Home</div>
                </a>
            </li>
            <li class="navlink">
                <a href="/profile">
                <div>Profile</div>
                </a>
            </li>
            <li class="navlink">
                <a href="/">
                <div>Logout</div>
                </a>
            </li>
        </ul>
</div>

<div id="wrapper">
<div id="posts">
	<div id="welcome">
		Welcome,
		<%=@user.fname if @user %>
	</div>
	<div id="home_content">
		<span class="home_subheader">Create a new post</span>
	<div id="home_post">
		<form action="/home" method="POST">
		  <label for="title" class="formlabel"> Title </label>
		  <input type="text" name="title" id="title">
		  <label for="content" class="formlabel">Content</label>
		  <textarea rows="4" cols="50" name="content"  id="textarea"></textarea>	
		  <div class="submit">
		         <input type="submit" value="Submit" id="signin_submit"/>
          </div>
		</form>
    </div>
	</div>
	
</div>
</div>


<script>
	$(document).ready(function(){
		$("#submitBtn").click(function(){
			alert("Your message has been posted!")
		})
	});	
</script>






















