<div id="name">
	<div id="name_color">NYC TOURIST</div>
<div id="intro">
	<div id="left">
		<div id="form">
			<form method="POST" action="/sign_up">
			<label for="fname" class="label_color">First Name</label>
		    <input type="text" name="[user]fname" class="inputs"></br></br></br>
		    <label for="lname" class="label_color">&nbspLast Name</label>
		    <input type="text" name="[user]lname" class="inputs"></br></br></br>
		    <label for="email" class="label_color">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspEmail</label>
		    <input type="text" name="[user]email" class="inputs"></br></br></br>
		    <label for="password" class="label_color">&nbsp&nbsp&nbspPassword</label>
		    <input type="password" name="[user]password" class="inputs"></br></br></br>
		    <input type="submit" class="submitBtn" value="Create Profile">
		  	</form>
		</div>
	</div>
	<div id="line"></div>

	<div id="right">
		<div id="form1">
		   <form method="POST" action="/sign_in">
		   <label for="email" class="label_color">Username</label>
		   <input type="text" name="[user]email" class="inputs"> </br></br></br></br>  
		   <label for="password" class="label_color">Password</label>
		   <input type="password" name="[user]password" class="inputs"></br></br></br></br>
		   <input type="submit" class="submitBtn" value="Sign-In">
		   </form>
		</div>   
	</div>
	
	
</div>