<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title %></title>
	<link href="<%= url('/normalize.css') %>" rel="stylesheet" type="text/css" />
	<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	
<body onLoad="slide()">
	<%=yield%>
</body>
</html>