<div class="profile_wrapper">

	<section class="profile_top">
		<header id="profile_name">
			<h1><%= current_user.fname + current_user.lname if current_user %></h1>
		</header>

		<div id="profile_bio">
			<img id="profile_pic" src= "/img/keika.png" alt="profile-pic"/>
			<section id="bio">
				<p>BIO</p>
			</section>
		</div>
	</section>
		
	<br clear="both">

	<section class="profile_bottom">
		<div id="profile_sidebar">
			<h2 class="sidebar_content">INTERESTS</h2>
			<h2 class="sidebar_content">FOLLOWERS</h2>
			<h2 class="sidebar_content">LINKS</h2>
		</div>

		<div id="profile_feed">
			<p id="create_post">Create a New Post:</p>
			<form method="POST" action="/profile" id="post_input">
				<input name="[post]title" id="feed_title" type="text" placeholder="title">
				<br><br>
				<textarea name="[post]body" id="feed_content" type="text" placeholder="Enter content here: "></textarea>
				<br>
				<input type="submit" id="feed_submitBtn">
			</form>
		</div>
	</section>

</div>
























