<body>

	<div class="profile_wrapper">

		<header id="profile_name">
			<h1>KEIKA JONES</h1>
		</header>

		<div id="profile_bio">
			<img id="profile_pic" src="#" alt="profile-pic"/>
			<section id="bio">
				
			</section>
		</div>

		<div id="profile_sidebar">
			<h2>INTERESTS</h2>
			<h2>FOLLOWERS</h2>
			<h2>LINKS</h2>
		</div>

		<div id="profile_feed">
			<form>
				<input type="textarea">
			</form> 
		</div>

	</div>

</body>
