/*layout.erb*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html{
 background: url(img/nyc.png) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
  position: relative;
  min-height: 100%;
}

body, html{
	margin: 0;
	padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/*end of layout.erb*/
/*index.erb*/
#name{
	position: absolute;
  	top: 5%;
  	left: 50%;
  	transform: translate(-50%, -35%);
  	color: black;
  	background: white;
  	opacity:.7;
  	text-align: center;
  	border-radius: 20px;
  	height: 100px;
  	width: 700px;
  	margin-top: 2.5%;
    font-family: Amatic SC;
}

#name_color{
	color:#EEC015;
	font-size: 40px;
	font-weight: bold;
	padding-top: 25px;

}

#intro{
	position: absolute;
  	top: 43%;
  	left: 50%;
  	transform: translate(-50%, -35%);
  	color: white;
  	background: white;
  	opacity:.7;
  	text-align: center;
  	border-radius: 5%;
  	height: 500px;
  	width: 700px;
  	margin-top: 2.5%;
    font-family: Amatic SC;
    display:inline;
 }

 #left{
 	height:100%;
 	width:49.5%;
	position:relative;
 	float:left;
 }

 #form{
 	text-align: center;
 	font-weight: bold;
 	margin-top: 30%;
 	padding-top: 10px;
 }

 .inputs{
 	box-shadow: 3px 3px gray;
 	border-radius: 5px;
 }

 .submitBtn{
 	background-color: aquamarine;
 	color:black;
 	font-weight: bold;
 	border-radius: 5px;
 	box-shadow: 2px 2px black;
 }


 #line{
 	height:90%;
 	border:1px solid gray;
 	position:relative;
 	float:left;
 	margin-top:4%;
 }

 #right{
 	height:100%;
 	width:49.5%;
 	position:relative;
 	float:right;
 }

 #form1{
 	text-align: center;
 	font-weight: bold;
 	margin-top: 43%;
 	padding-top: 10px;
 }

 /*end of index.erb*/

/****************************************************************/
/************************* PROFILE ******************************/
/****************************************************************/

.profile_wrapper{
  width: 700px;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.profile_top{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  padding-top: 0;
  border-radius: 20px;
}

#profile_name{ 
  font-family: 'Raleway';
  padding-top: 5px;
  font-size: 20px;
  margin-left: 15px;
}

#profile_bio{
  height: 200px;
}

#profile_pic{
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  float: left;
  margin-left: 15px;
  padding-bottom: 10px;
}

#bio{
  float: left;
  margin-left: 50px;
}

.profile_bottom{
  margin-top: 0;
  border-radius: 20px;
}

#profile_sidebar{
  width: 33%;
  float: left;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  margin-right: 20px;
}

.sidebar_content{
  font-size: 14px;
}

#profile_feed{
  float: left;
  width: 64%;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
} 

#post_input{
  padding-top: 20px;
  text-align: center;
}

form input{
  width: 380px;
  height: 50px;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
}

form input:focus{
  outline: none;
}














































>>>>>>> 8d2c83c12188bae79a478b2f5075f27ef18d5eba
