/************************** Layout.erb ****************************/


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html{
 background: url(img/nyc.png) no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
  position: relative;
  min-height: 100%;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/*******************************************************************/
/************************ end of layout.erb ************************/
/*******************************************************************/

*{
  color: #768696;
}


/*******************************************************************/
/**************************** index.erb ****************************/
/*******************************************************************/

#name{
  margin:0 auto;
  position: absolute;
  margin-top: 100px;
  margin-left: 25%;
  background-color: #F1F5FF;
  text-align: center;
  border-radius: 20px;
  height: 100px;
  width: 700px;
}

#name_color{
  font-size: 40px;
  font-weight: bold;
  padding-top: 25px;

}

#intro{
  background-color: #F1F5FF;
  text-align: center;
  border-radius: 20px;
  height: 400px;
  width: 700px;
  margin-top: 8%;
  }

.label_color{
  font-weight: 200;
  font-size: 16px;
  text-align: left;
}  

#left{
  height:100%;
  width:49.5%;
  position:relative;
  float:left;
 }

 #form{
  text-align: center;
  font-weight: 200;
  margin-top: 60px;
  padding-top: 10px;
 }

 .inputs{
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-left: 10px;
  box-shadow: 0 1.5px 2px rgba(0,0,0,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;
}

.inputs:focus{
  outline: none;
}

 .submitBtn{
  background-color: #53DADB;
  font-weight: 200;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 5px;
 }

 #create_profileBtn{
  width: 120px;
 }

 #sign-inBtn{
  width: 100px;
  margin-top: 30px;
 }

 #line{
  height:90%;
  border: 1px solid #53DADB;
  position:relative;
  float:left;
  margin-top:4%;
 }

 #right{
  height:100%;
  width:49.5%;
  position:relative;
  float:right;
 }

 #form1{
  text-align: center;
  font-weight: 200;
  margin-top: 120px;
  padding-top: 10px;
 }


/*************************************************************************/
/**************************** end of index.erb ***************************/
/*************************************************************************/




/*************************************************************************/
/******************************* home.erb ********************************/
/*************************************************************************/

#home_wrapper{
  width: 1100px;
  margin: 0 auto;
}

#posts_wrapper {
  width: 800px;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 0;
  font-family: sans-serif;
  float: left;
}

#header {
  background-color: #F1F5FF;
  height: 150px;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.home_sidebar{
  float: left;
  width: 220px;
  height: auto;
  background-color: #F1F5FF;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.fontawesome{
  margin-left: 10px;
}

.home_nav {
  border-radius: 20px;
  margin-bottom: 40px;
}

.home_nav ul {
  list-style: none;
  padding-left: 20px;
}

.nav_item {
  margin-left: 30px;
}

.navlink {
  padding: 10px 10px 0; 
}

.navlink a {
  text-decoration: none;
}

#sidebar_hr{
  width: 200px;
}

#users_text{
  margin-left: 20px;
  font-size: 26px;
}

#home_sidebar_users{
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
  margin: 18px;
}

#home_sidebar_users a{
  text-decoration: none;
}

.home_sidebar_users_list{
  margin-bottom: 5px;
  display: inline-block;
}

#user_pic{
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
  display: inline-block;
}

#users_name{
  padding-bottom: 10px;
  margin-left: 10px;
}

#posts {
  height: auto;
  background-color: #F1F5FF;
  margin: 0 auto;
  margin-bottom: 5%;
  border-radius: 20px;
  padding: 10px;
}

#welcome_heading, #tweets_heading {
  font-size:20px;
  border-radius: 20px;  
  font-weight: bold;
  margin-top: 20px;
}

#welcome_heading{
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  color: #53DADB;
}


.home_subheader{
  font-size: 20px;
  font-weight: bold;
  padding: 4px 10px 5px;  
  display:block;
  margin-top:  40px;
  margin-left: 10px;
}   

#home_post{
  height:auto;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.formlabel{
  font-size: 16px;
  display: block;
  padding-top: 10px; 
  padding-bottom: 2px; 
  padding-left: 10px;
} 

.title {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 35px;
  width: 400px;
  padding: 10px;
  border: none;
  box-shadow: 0 1.5px 2px rgba(0,0,0,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;
}

.textarea {
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
  width: 98%;
  border: none;
  box-shadow: 0 1.5px 2px rgba(0,0,0,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;

}

#textarea:focus, #title:focus{
  outline: none;
}

.post_submitBtn{
  background-color: #53DADB;
  border: none;
  border-radius: 5px;
  width: 80px;
  padding: 5px;
  margin-top: 10px;
  color: #fff;
}

.post_submitBtn:hover{
  box-shadow: 0 1.5px 2px rgba(0,0,0,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;
}

/*.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  text-align: center;
}

.float:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
*/

#tweets_heading{
  font-size: 30px;
  margin-left: 20px;
  color: #53DADB;
}

#tweets_method hr{
  width: 800px;
  text-align: center;

}

#tweets_method {
  margin: 0 auto;
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post_fname {
  font-weight: bold;
}

.post_title {
}

.post_body {
}

/*#slider {
  border: 1px solid red;
  height: 300px;
  width: 400px;
  margin: 50px auto;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

 #sliderimg {
  height: 300px;
  width: 400px;
  position: absolute;
 }

 #left_holder {
  border: 1px solid black;
  height: 300px;
  width: 75px;
  position: absolute;
  top: 0px;
  left: 0px;
 }

 #right_holder {
  border: 1px solid black;
  height: 300px;
  width: 75px;
  position: absolute;
  top: 0px;
  right: 0px;
 }

#sliderleftarrow {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 40%;
  left: 13px;
  opacity: 0;
  transition: all .5s ease-in-out 0s;
}


#sliderrightarrow {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 40%;
  right: 13px;
  opacity:0;
  transition: all .5s ease-in-out 0s;
}

#left_holder:hover #sliderleftarrow {
  opacity: 0.6;
}

#right_holder:hover #sliderrightarrow {
  opacity: 0.6;
}*/

/****************************************************************/
/************************* PROFILE ******************************/
/****************************************************************/

.profile_wrapper{
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 0;
  font-family: sans-serif;
}

#profile_top{
  width: 800px;
  background-color: #F1F5FF;
  padding: 10px;
  padding-top: 0;
  border-radius: 20px;
  float: left;
  margin-top: 20px;
}

#profile_name{ 
  padding-top: 15px;
  margin-left: 20px;
  font-size: 40px;
  margin-bottom: 0;
  display: inline-block;
}

#edit_profileBtn{
  display: inline-block;
  margin-left: 410px;
  margin-bottom: 2px;
}

#delete_profileBtn{
  display: inline-block;
  margin-left: 661px;
  margin-bottom: 5px;
}

#profile_bio{
  height: 200px;
}

#profile_pic{
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-left: 28px;
  margin-bottom: 20px;
  float: left;
}

#bio_section{
  float: left;
}

.bio_content{
  background-color: #fff;
  margin-left: 280px;
  margin-top: 20px;
  border-radius: 10px;
  height: 200px;
  width: 500px;
  padding: 10px;
}

#bio_text{
  padding: 3px;
}

#profile_sidebar{
  height: 600px;
  background-color: #F1F5FF;
  border-radius: 20px;
}

.sidebar_content{
  font-size: 15px;
  margin-top: 30px;
  text-align: center;
}

#interests_text{
  text-align: center;
}

#profile_feed{
  margin-top: 20px;
  height: auto;
  width: 800px;
  padding-bottom: 20px;
  background-color: #F1F5FF;
  border-radius: 20px;
  float: left;
} 

#profile_feed_title{
  margin-left: 20px;
}

#create_post{
  margin-left: 20px;
}

#post_input{
  margin-left: 20px;
}

/****************************************************************/
/************************* END OF PROFILE ***********************/
/****************************************************************/




/****************************************************************/
/************************* EDIT_PROFILE *************************/
/****************************************************************/

#edit_greeting{
  margin-left: 40px;
  padding-top: 30px;
  font-size: 40px;
}

#edit_header{
  margin-left: 40px;
}

#edit_wrapper{
  width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
}

.create_profile_form{
  width: 800px;
  float: left;
  background-color: #F1F5FF;
  border-radius: 20px;
  margin-top: 20px;
}

#edit_profile_form{
  text-align: left;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 750px;
  margin: 0 auto;
}

#bio_label, #interests_label{
  vertical-align: top;
}

.edit_textarea{
  margin-left: 50px;
  border-radius: 5px;
  border: none;
  width: 500px;
  height: 60px;
  font-size: 13px;
  box-shadow: 0 1.5px 2px rgba(0,0,0,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;
}

.edit_textarea:focus{
  outline:none;
}

.edit_labels{
  margin-left: 20px;
}

.edit_inputs{
  margin-left: 50px;
  border-radius: 5px;
  padding: 6px;
  border: none;
  box-shadow: 0 1.5px 2px rgba(0,0,0,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;
}

.edit_inputs:focus{
  outline: none;
}

#birthday{
  margin-left: 50px;
  font-size: 13px;
  width: 215px;
  padding: 6px;
}

#gender{
  margin-left: 55px;
  width: 215px;
  padding: 5px;
  font-size: 13px;
}

.radio_button{
  margin-left: 18px;
  height: 17px;
  width: 17px;
}

#create_formBtn{
  width: 100px;
  margin-left: 320px;
}

#create_formBtn:hover{
  box-shadow: 0 1.5px 2px rgba(0,0,0,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;
}

/****************************************************************/
/********************* End of EDIT_PROFILE **********************/
/****************************************************************/



/****************************************************************/
/************************ UPDATE_PROFILE ************************/
/****************************************************************/

#update_wrapper {
  width: 1000px;
  margin: 0 auto;
  background-color: #F1F5FF;
}

#update_form_wrapper{
  float: left;
  background-color: #F1F5FF;
  border-radius: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

#update_header{
  margin-left: 20px;
}

#update_fname, #update_lname{
  margin-left: 60px;
}

#update_email{
  margin-left: 35px;
}

#update_password{
  margin-left: 67px;
}

#update_birthday{
  margin-left: 54px;
}

#update_gender{
  margin-left: 58px;
}

#save_btn{
  width: 120px;
  margin-left: 260px;
}

/****************************************************************/
/************************ UPDATE_PROFILE ************************/
/****************************************************************/



/****************************************************************/
/*************************** contact_us *************************/
/****************************************************************/

#contact_wrapper{
  width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}

#contact_form_wrapper{
  width: 610px;
  float: left;
}

#contact_title{
  background-color: #F1F5FF;
  border-radius: 15px;
  height: 70px;
  padding-top: 15px;
  text-align: center;
}

#contact_main{
  height: 425px;
  background-color: #F1F5FF;
  border-radius: 15px;
}

#form2{
  margin-top:20px;
  margin-left:60px;
  padding-top: 40px;
}

#email_input{
  font-weight: 200;
  font-size: 14px;
}

#contact_submitBtn{
  width: 100px;
  margin-left: 190px;
}

#contact_submitBtn:hover{
  box-shadow: 0 1.5px 2px rgba(0,0,0,0.4) inset, 0 -1px 0 rgba(0,0,0,0.2) inset;
}

/****************************************************************/
/*********************** End of contact_us **********************/
/****************************************************************/














































